{
    "GeneticParameters": {
        "GenerationNumber": "10",
        "GenomeNumber": "5",
        "MutationRate": "0.1",
        "ParentGenomeNumber": "6"
    },
    "SimulationNumberByParameters": "2",
    "SimulationParameters": [
        {
            "BitNumber": "10",
            "MaxValue": "7",
            "MinValue": "-7",
            "Name": "x",
            "Search": "true",
            "Value": "1.5"
        },
		{
            "BitNumber": "10",
            "MaxValue": "7",
            "MinValue": "-7",
            "Name": "y",
            "Search": "true",
            "Value": "1.5"
        }
		],
    "StoragePath": "D:\\Codes\\Test\\GeneticAlgo\\"
}