{
    "GeneticParameters": {
        "GenerationNumber": "20",
        "GenomeNumber": "5",
        "MutationRate": "0.1",
        "ParentGenomeNumber": "6"
    },
    "SimulationNumberByParameters": "1",
    "SimulationParameters": [
        {
            "BitNumber": "10",
            "MaxValue": "2.2",
            "MinValue": "1.8",
            "Name": "AlphaCoefficient",
            "Search": "true",
            "Value": "1.5"
        },
        {
            "BitNumber": "10",
            "MaxValue": "0.7",
            "MinValue": "0.4",
            "Name": "BetaCoefficient",
            "Search": "true"
        },
        {
            "BitNumber": "10",
            "MaxValue": "0.2",
            "MinValue": "0.01",
            "Name": "EvaporationRate",
            "Search": "true"
        },
        {
            "BitNumber": "10",
            "MaxValue": "1.2",
            "MinValue": "0.8",
            "Name": "DropCoefficient",
            "Search": "true"
        },
        {
            "Name": "StopConditionThreshold",
            "Search": "false",
            "Value": "0.001"
        },
        {
            "Name": "StopInARaw",
            "Search": "false",
            "Value": "10"
        },
        {
            "Name": "CityNumber",
            "Search": "false",
            "Value": "30"
        },
        {
            "Name": "AgentNumber",
            "Search": "false",
            "Value": "150"
        },
        {
            "Name": "IterationNumber",
            "Search": "false",
            "Value": "200"
        },
        {
            "Name": "X_lim",
            "Search": "false",
            "Value": "50"
        },
        {
            "Name": "Y_lim",
            "Search": "false",
            "Value": "50"
        }
    ],
    "StoragePath": "D:\\Codes\\VisualStudio\\GeneticAlgorithm\\Save\\"
}